<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darwin</title>
    <!--<link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Darwin</h1>
        <nav>
            <ul>
                <li><a href="/" class="logo"><img src="/static/assets/logo.png" width="20px" height="20px" /></a></li>
                <li><a href="#">Games</a></li>
                <li><a href="#">Promotions</a></li>
                <li><a href="#">Balance: </li>
                <li><a href="#">Deposit</a></li>
                <li><a href="#">Profile</a></li>  
            </ul>
        </nav>
    </header>
    
    <div id="reg_form">
        <h2>Create an OmniBet account</h2>
        <br/>
        {% if error_message %}
            <p style="color: red;">The username is already taken!</p>
        {% endif %}
        <form method="POST" action="/register">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button type="submit" class="confirm">Register</button>
        </form>
        <p>Already have an account? Click <a href="/login/">here</a> to log in.</p>
    </div>
    <footer class="down">
        <p>&copy; 2023 omnibet. All rights reserved. Darwin version alpha-0.2</p>
    </footer>
</body>
</html>